#app .content-wrap {
    width: 100%;
    padding: 15px 30px;
}

#app .item-wrap {
    width: 100%;
    background-color: #fbfbfb;
    border-radius: 10px;
    margin-bottom: 60px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0.19);
}
#app .header-wrapper {
    padding: 10px 0 5px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#app a {
    text-decoration: none;
    color: #4e4e4e;
}

.user-profile-photo a img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid #4e4e4e75;
}

.item-wrap .photo-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.item-wrap .photo-wrapper img {
    width: 50%;
    margin: 5px 25% 0;
    border-radius: 10px;
}

#app .content-wrap .item-wrap .action-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#app .content-wrap .item-wrap .action-wrapper{
    display: flex;
    align-items: center;
}

#app .content-wrap .item-wrap .action-wrapper .action-item {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.like-action {
    background-image: url("resources/css/icons/heart-main.png");
    font-size: 12px;
    font-weight: bold;
    padding-top: 1px;
    justify-content: center;
    align-items: center;
}

.comment-action {
    background-image: url("resources/css/icons/chat-main.png");
}

.favourite-action {
    background-image: url("resources/css/icons/bookmark-main.png");
}

.like-action:hover {
    background-image: url("resources/css/icons/heart-hover.png");
}

.comment-action:hover {
    background-image: url("resources/css/icons/chat-hover.png");
}

.favourite-action:hover {
    background-image: url("resources/css/icons/bookmark-hover.png");
}

#app .content-wrap .item-wrap .comment-wrapper {
    display: flex;
    flex-flow: column;
    padding: 10px;
    border-bottom: 1px solid white;
}

#app .content-wrap .item-wrap .comment-wrapper .comment-item {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1px;
    font-size: 12px;
}

#app .content-wrap .item-wrap .comment-wrapper .comment-item .comment-login{
    margin-right: 10px;
}

#app .content-wrap .item-wrap .leave-comment-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}

#app .content-wrap .item-wrap .leave-comment-wrapper textarea {
    border-radius: 5px;
    overflow: auto;
    outline: none;
    font-size: 16px;
    font-family: "Courier New";
    padding: 10px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    resize: none;
}
#app .content-wrap .item-wrap .leave-comment-wrapper .leave-comment-button {
    padding: 5px 15px;
    width: 40px;
    height: auto;
    background-color: #4e4e4e;
    border-radius: 5px;
    resize: vertical;
    margin: 0 20px;
    cursor: pointer;
    color: #f5f5f5;
}

.comment-time {
    position: absolute;
    right: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 5px;
}
